@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
:root{
    --color-primeary:#6c63ff;
    --color-success:#00bf8e;
    --color-warning:#f7c94b;
    --color-danger:#f75842;
    --color-danger-varient:rgba(247,88,66,0.4);
    --color-white:#fff;
    --color-black:#000;
    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-bg2:#424890;
    --color-light:rgba(255,255,255,0.7);

    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:94%;

    --transition:all 400ms ease;
}

body{
    line-height: 1.7;
    background: var(--color-bg);
    color: var(--color-white);
    /* margin: 0 auto; */
}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;

}
section{
    padding: 6rem 0;

}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
h1,
h2,
h3,
h4,
h5{
    line-height: 1.2;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
h5{
    font-size: 0.8rem;
}
a{
    color: var(--color-white);
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
}
.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);

}
.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);
}

/*================== NAVBAR ================= */

.window-scroll{
    background: var(--color-primeary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

nav{
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
.nav-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display: none;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav-menu a{
    font-size: 0.9rem;
    transition: var(--transition);
}
.nav-menu a:hover{
    color: var(--color-bg2);
}
/* ==========================HEADER=====================*/
header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 82vh;
    margin-bottom: 5rem;
}
.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100vh;
}
.header-left p{
    margin: 1rem 0 2.4rem;

}
.category{
    background: var(--color-bg1);
    height: 29rem;
}
.category h1{
    line-height: 1;
    margin-bottom: 3rem;
    
}
.category-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
}
.category-left{
    margin-right: 2rem;
}
.category-left p{
    margin: 1rem 0 3rem;
}
.category-right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.2rem;
}

.art-catehory{
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}
.art-catehory:hover{
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
    z-index: 1;
}

.art-catehory:nth-child(2) .category-icon{
    background: var(--color-danger);
}
.art-catehory:nth-child(3) .category-icon{
    background: var(--color-success);
}
.art-catehory:nth-child(4) .category-icon{
    background: var(--color-warning);
}
.art-catehory:nth-child(5) .category-icon{
    background: var(--color-success);
}
.category-icon{
    background: var(--color-primeary);
    padding: 0.7rem;
    border-radius: 0.9rem;
}
.category-icon h5{
    margin: 2rem 1rem 1rem;
}
.category-icon p{
    font-size: 0.85rem;
}

.courses{
    margin-top: 10rem;
}
.courses-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.course{
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.course:hover{
    background: transparent;
    border-color: var(--color-primeary);
}
.course-info{
    padding: 2rem;
}
.course-info p{
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}

.faqs{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}
.feqs-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.feq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-primeary);
    cursor: pointer;
}
.feq h4{
    line-height: 2.2;
    font-size: 1rem;

}
.feq-icon{
    align-self: flex-start;
    font-size: 1.2rem;
}
.feq p{
    margin-top: 0.8rem;
    display: none;
}
.feq.open p{
    display: block;
}

.testinomial-container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}
.testinomials{
    padding-top: 2rem;
}
.avtar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1); 
}
.testinomials-info{
    text-align: center;
}
.testinomial-body{
    background: var(--color-primeary);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
}
.testinomial-body::before{
    content: '';
    display: block;
    background: linear-gradient(135deg,
    transparent,
    var(--color-primeary),
    var(--color-primeary));
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 45%;
    top: -1.5rem;
    transform: rotate(45deg);
}
.footer{
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}
.footer-container > div h4{
    margin-bottom: 1.4rem;
}
.footer-1 p{
    margin: 0 0 2rem;
}
footer ul li{
    margin-bottom: 0.7rem;
}
footer ul li a:hover{
    text-decoration: underline;
}
.footer-social{
    display: flex;
    gap: 1;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.footer-copyright{
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border: 1px solid var(--color-bg2); 
}



@media screen and (max-width:1024px) {
    .container{
        width: var(--container-width-md);
    }
    h1{
        font-size: 1.7rem;
    }
    h2{
        font-size: 1.4rem;
    }
    h3{
        font-size: 1.1rem;
    }
    h4{
        font-size: 0.8rem;
    }
    h5{
        font-size: 0.4rem;
    }
    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }
    nav button#close-menu-btn{
        display: none;
    }
    .nav-menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    .nav-menu li{
        width: 100%;
        height: 5.8rem;
        animation: animateNavItem 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }
    .nav-menu li:nth-child(2){
        animation-delay: 200ms;
    }
    .nav-menu li:nth-child(3){
        animation-delay: 400ms;
    }
    .nav-menu li:nth-child(4){
        animation-delay: 600ms;
    }
    @keyframes animateNavItem {
        0%{
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        100%{
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }


    .nav-menu li a{
        background: var(--color-primeary);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    .nav-menu li a:hover{
        background: var(--color-bg2);
        color: var(--color-white);
    }

    header{
        height: 52vh;
        margin-bottom: 4rem;
    }
    .header-container{
        gap: 0;
        padding-bottom: 3rem;
    }
    .category{
        height: auto;
    }
    .category-container{
        grid-template-columns: 1fr;
        gap:  3rem;
    }
    .category-left{
        margin-right: 0;
    }

    .courses{
        margin-top: 0;

    }
    .courses-container{
        grid-template-columns: 1fr 1fr;
    }
    .feqs-container{
        grid-template-columns: 1fr;
    }
    .feq{
        padding: 1.5rem;
    }
    .footer-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:600px) {
    .container{
        width: var(--container-width-sm);
    }
    .nav-menu{
        right: 3%;
    }
    header{
        height: 100vh;
    }
    .header-container{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .header-left p{
        margin-bottom: 1rem;
    }
    .category-right{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .category{
        padding: 1rem;
        border-radius: 1rem;
    }
    .category-icon{
        margin-top: 4px;
        display: inline-block;
    }
    .courses-container{
        grid-template-columns: 1fr;
    }
    .testinomial-body{
        padding: 1.2rem;
    }
    .footer-container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }
    .footer-1 p{
        margin: 1rem auto;
    }
    .footer-social{
        justify-content: center;
    }
}